--annotations_json=PATH_TO_BE_CONFIGURED/iwildcam2021_train_annotations.json
--megadetector_results_json=PATH_TO_BE_CONFIGURED/iwildcam2021_megadetector_results.json
--dataset_dir=PATH_TO_BE_CONFIGURED
--train_dataset_split=PATH_TO_BE_CONFIGURED/data_split.json
--model_name=efficientnet-b2
--input_size=260
--input_scale_mode=uint8
--batch_size=32
--lr=0.1
--momentum=0.9
--epochs=20
--label_smoothing=0.1
--randaug_num_layers=2
--randaug_magnitude=2
--random_seed=42