--annotations_json=PATH_TO_BE_CONFIGURED/iwildcam2021_train_annotations.json
--megadetector_results_json=PATH_TO_BE_CONFIGURED/iwildcam2021_megadetector_results.json
--dataset_dir=PATH_TO_BE_CONFIGURED/
--train_dataset_split=PATH_TO_BE_CONFIGURED/data_split.json
--model_name=efficientnet-b4
--input_size=380
--input_scale_mode=uint8
--batch_size=8
--lr=0.01
--momentum=0.9
--epochs=10
--label_smoothing=0.1
--randaug_num_layers=6
--randaug_magnitude=2
--random_seed=42