--annotations_json=PATH_TO_BE_CONFIGURED/iwildcam2021_train_annotations.json
--megadetector_results_json=PATH_TO_BE_CONFIGURED/iwildcam2021train_originalimage_megadetector_v4.1_results_parsed.json
--dataset_dir=PATH_TO_BE_CONFIGURED/
--model_name=efficientnet-b2
--input_size=260
--input_size_stage3=380
--input_scale_mode=uint8
--use_full_image
--batch_size=32
--lr_stage1=0.01
--lr_stage2=0.01
--lr_stage3=0.001
--momentum=0.9
--epochs_stage1=0
--epochs_stage2=20
--epochs_stage3=2
--unfreeze_layers=18
--label_smoothing=0.1
--randaug_num_layers=6
--randaug_magnitude=2
--random_seed=42
--model_dir=PATH_TO_BE_CONFIGURED/