--annotations_json=PATH_TO_BE_CONFIGURED/iwildcam2021_train_annotations.json
--dataset_dir=PATH_TO_BE_CONFIGURED/
--megadetector_results_json=PATH_TO_BE_CONFIGURED/iwildcam2021test_originalimage_megadetector_v4.1_results_parsed.json
--test_info_json=PATH_TO_BE_CONFIGURED/iwildcam2021_test_information.json
--submission_file_path=PATH_TO_BE_CONFIGURED/final_submission.csv
--model_name=efficientnet-b2
--use_bags
--batch_size=16
--input_size=380
--input_scale_mode=uint8
--ckpt_dir_full=PATH_TO_BE_CONFIGURED/fixefficientnet_b2_380x380_iwildcam_fulltrain_mdv4_fullimage_16mai_bags_mltstg/
--ckpt_dir_bbox=PATH_TO_BE_CONFIGURED/fixefficientnet_b2_380x380_iwildcam_fulltrain_mdv4_multicrop_26mai_bags_mltstg/
--use_flip_image
--ensemble_method=averaging
--megadetector_threshold=0.8