--annotations_json=PATH_TO_BE_CONFIGURED/iwildcam2021_train_annotations.json
--megadetector_results_json=PATH_TO_BE_CONFIGURED/iwildcam2021_megadetector_results.json
--dataset_dir=PATH_TO_BE_CONFIGURED/
--train_dataset_split=PATH_TO_BE_CONFIGURED/data_split.json
--model_name=efficientnet-b0
--fix_resolution
--unfreeze_layers=18
--input_size=300
--input_scale_mode=uint8
--load_checkpoint=PATH_TO_BE_CONFIGURED/
--batch_size=64
--lr=0.001
--momentum=0
--epochs=2
--warmup_epochs=0.1
--label_smoothing=0.1
--random_seed=42